/*
	* Typefaces
*/

@font-face {
	font-family: 'Glyphish Outlined';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/glyphishOutlined.woff') format('woff');
}

@font-face {
	font-family: 'Glyphish Filled';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/glyphishFilled.woff') format('woff');
}

@font-face {
	font-family: 'Font Awesome';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/fontAwesome.woff') format('woff');
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/centuryGothic.woff') format('woff');
}

@font-face {
	font-family: 'Century Gothic';
	font-style: bold;
	font-weight: 700;
	src: url('../woff/centuryGothic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../woff/openSans.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 700;
	src: url('../woff/openSansBold.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../woff/openSansItalic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('../woff/openSansBoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	src: url('../woff/inconsolata.woff') format('woff');
}

/*
	* Keyframes
*/

@-webkit-keyframes redPulse {
	0% {
		background-color: #e07a66;
	}

	50% {
		background-color: #ffa5a9;
	}

	100% {
		background-color: #e07a66;
	}
}

@-moz-keyframes redPulse {
	0% {
		background-color: #e07a66;
	}

	50% {
		background-color: #ffa5a9;
	}

	100% {
		background-color: #e07a66;
	}
}

@-o-keyframes redPulse {
	0% {
		background-color: #e07a66;
	}

	50% {
		background-color: #ffa5a9;
	}

	100% {
		background-color: #e07a66;
	}
}

@keyframes redPulse {
	0% {
		background-color: #e07a66;
	}

	50% {
		background-color: #ffa5a9;
	}

	100% {
		background-color: #e07a66;
	}
}

/*
	* Global
*/

* {
	color: #222;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: default;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 2px;
	background-color: #E1E1E1;
}

*::-webkit-scrollbar-thumb {
	background-color: #2795D0;
}

a {
	text-decoration: none;
	color: #2C95CF;
}

	a.smallLink {
		font-size: 1em;
		font-variant: small-caps;
		text-decoration: underline;
	}

ul {
	list-style-type: square;
}

a:hover {
	text-decoration: underline !important;
}

.fontAwesome {
	font-family: 'Font Awesome' !important;
	font: normal normal normal 14px/1 'Font Awesome';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphishFilled {
	font-family: 'Glyphish Filled' !important;
}

.glyphishOutlined {
	font-family: 'Glyphish Outlined' !important;
}

div.screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden !important;
}

h1, h2, h3 {
	font-family: 'Open Sans';
	font-weight: bold;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 0.8em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 0.6em;
}

.headingSmall {
	font-variant: small-caps;
	font-size: 0.9em;
	opacity: 0.65;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.blue {
	color: #2C95CF !important;
}

.hidden {
	display: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel] {
	padding: 0.5em 0.8em;
	font-size: 1em;
	border: 3px solid #efeeec;
	display: block;
	margin-bottom: 5px;
}

	input[type=text]:focus:not(.invalid),
	input[type=email]:focus:not(.invalid),
	input[type=password]:focus:not(.invalid),
	input[type=tel]:focus:not(.invalid) {
		border: 3px solid #2C95CF;
	}

input.invalid {
	border: 3px solid #E07A66;
}

button,
input[type=button],
input[type=submit] {
	background: #2C95CF;
	color: #FFF;
	border: none;
	font-weight: bold;
	padding: 0.5em 0.8em;
	font-size: 1em;
}

	button:focus,
	input[type=button]:focus,
	input[type=submit]:focus {
		background: #2b8cc3;
	}

	button:hover,
	input[type=button]:hover,
	input[type=submit]:hover {
		background: #2b8cc3;
	}

	button * {
		color: #FFF;
	}

	button:active,
	input[type=button]:active,
	input[type=submit]:active {
		background: #2c81b9;
	}

	button:disabled {
		background: #efeeec;
		color: #FFF;
	}

	button.clear {
		background: transparent;
		color: #333;
		font-weight: normal;
	}

		button.clear * {
			color: #333;
		}

		button.clear:hover {
			background: rgba(0, 0, 0, 0.1);
		}

		button.clear:active {
			background: rgba(0, 0, 0, 0.2);
		}

div.infoAlert, div.errorAlert {
	background: #F5F5F5;
	padding: 10px 20px 10px 10px;
	border-top: 4px solid #2C95CF;
	border-bottom: 4px solid #DDD;
	font-size: 0.9em;
	position: relative;
	margin-bottom: 20px;
	max-width: 650px;
}

	div.infoAlert a, div.errorAlert a {
		text-decoration: underline;
	}

	div.infoAlert span.infoAlertIcon,
	div.errorAlert span.errorAlertIcon {
		font-family: 'Font Awesome';
		color: #FFF;
		background: #2C95CF;
		padding: 10px 10px 14px 10px;
		float: left;
		width: 30px;
		height: 20px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 2.6em;
		font-weight: normal;
	}

	div.infoAlert div.infoAlertContent,
	div.errorAlert div.errorAlertContent {
		margin-left: 60px;
		max-width: 90%;
	}

div.infoAlertContent h1,
div.errorAlertContent h1 {
	font-size: 1.6em;
	margin: 5px 0;
}

div.infoAlertContent p,
div.errorAlertContent p {
	font-size: 1.1em;
}


div.infoAlertContent ul,
div.errorAlertContent ul {
	margin: 6px 0 0 20px;
	font-size: 0.8em;
	font-family: monospace;
}

div.errorAlert {
	border-top: 4px solid #e07a66;
}

	div.errorAlert span.errorAlertIcon {
		background-color: #e07a66;
		font-size: 2.4em;
	}

input[type=checkbox].blueCheckbox {
	display: none;
}

	input[type=checkbox].blueCheckbox + label.blueCheckboxLabel {
		padding-left: 20px;
		display: inline-block;
		line-height: 12px;
		background-repeat: no-repeat;
		background-position: 0 0;
		vertical-align: middle;
		cursor: pointer;
	}

	input[type=checkbox].blueCheckbox:checked + label.blueCheckboxLabel {
		background-position: 0 -12px;
	}

label.blueCheckboxLabel {
	background-image: url('../img/blueCheckbox.png');
	background-size: 12px;
}

button.red {
	background: #e07a66;
}

	button.red:hover {
		background: #e67e68;
	}

	button.red:active {
		background: #ea8466;
	}

span.red {
	color: #e07a66 !important;
}

span.green {
	color: #85c573 !important;
}

/*
	* Login Screen
*/

div.loginScreen {
	overflow: hidden;
	z-index: 200;
	transition: margin 1s ease, opacity 6s linear;
}

	div.loginScreen.slideUp {
		margin-top: -1100px;
		opacity: 0;
	}

	div.loginScreen img.peerioLogotypeWhite {
		width: 216px;
		height: auto;
		display: block;
		margin: 40px auto 20px auto;
	}

	div.loginScreen div.loginForm {
		width: 350px;
		height: 100%;
		background: #2C95CF;
		position: absolute;
		top: 0;
		left: 0;
	}

div.loginForm input[type=text],
div.loginForm input[type=password] {
	margin: 10px auto;
	width: 226px;
	padding: 10px;
	border: 5px solid #FFF;
}

	div.loginForm input[type=text]:focus,
	div.loginForm input[type=password]:focus {
		border: 5px solid #efeeec;
	}

div.loginForm button[type=submit] {
	background: #A5E593;
	color: #FFF;
	width: 256px;
	font-size: 1.2em;
	padding: 10px 0;
	margin: 20px auto 0 auto;
	display: block;
	height: 40px;
}

	div.loginForm button[type=submit]:focus {
		background: #95D583;
	}

	div.loginForm button[type=submit]:hover {
		background: #95D583;
	}

	div.loginForm button[type=submit]:active {
		background: #85C573;
	}

	div.loginForm button[type=submit]:disabled {
		background: #A5E593;
	}

div.loginForm button[type=submit] img {
	height: 30px;
	width: auto;
	margin-top: -4px;
}

span.loginFormOr {
	display: block;
	color: #FFF;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 10px 0 0 0;
}

button.loginFormSignup {
	background: rgba(255, 255, 255, 0.2);
	color: #FFF;
	width: 256px;
	font-size: 1.2em;
	padding: 8px 0;
	margin: 10px auto 0 auto;
	display: block;
}

	button.loginFormSignup:hover {
		background: rgba(255, 255, 255, 0.3);
	}

	button.loginFormSignup:active {
		background: rgba(255, 255, 255, 0.4);
	}

button.loginShowPassphrase {
	float: right;
	max-width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 223px;
	left: 306px;
	text-align: center;
}

	button.loginShowPassphrase:hover {
		background: rgba(255, 255, 255, 0.9);
	}

	button.loginShowPassphrase span {
		position: relative;
		right: 5px;
		bottom: 2px;
	}

span.loginShowPassphraseDisable {
	display: none;
}

div.loginForm div.loginFormFooter {
	background: rgba(255, 255, 255, 0.2);
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 330px;
	font-weight: bold;
	word-spacing: 10px;
}

div.loginFormFooter img {
	height: 20px;
	width: auto;
	vertical-align: -5px;
}

div.loginFormFooter a {
	color: #FFF;
	font-size: 0.8em;
}

div.loginFormFooter span {
	color: #FFF;
	font-family: monospace;
	font-size: 0.8em;
	margin-left: -13px;
}

div.signupForms {
	margin-left: 350px;
}

div.signupSplash {
	background-color: #EFEEEC;
	background-image: url('../img/splash.png');
	background-size: 500px auto;
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 35px;
	border-left: 4px solid #BBCCDD;
	transition: margin 2s ease;
}

	div.signupSplash.pullUp {
		margin-top: -5000px;
	}

	div.signupSplash h1 {
		background: rgba(255, 255, 255, 0.9);
		padding: 20px;
		display: block;
		width: 600px;
	}

	div.signupSplash p {
		background: rgba(255, 255, 255, 0.9);
		padding: 20px;
		display: block;
		width: 600px;
		margin-top: 40px;
		font-size: 1.2em;
		line-height: 2em;
	}

	div.signupSplash button {
		font-size: 2em;
		margin: 20px 0 0 0;
	}

div.signupFields {
	padding: 40px 35px 0 35px;
	font-size: 1.0em;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease;
	position: relative;
}

div.signupProgress {
	width: 100%;
	background: #345;
	padding: 0px 10px 2px 10px;
	position: absolute;
	top: 0;
	left: 0;
}

	div.signupProgress span {
		color: #FFF;
		font-size: 0.9em;
		float: left;
		font-variant: small-caps;
	}

div.signupProgressBar {
	border: 1px solid #2C95CF;
	width: 300px;
	float: right;
	margin: 7px 20px 0 0;
}

div.signupProgressBarFill {
	background: #2C95CF;
	width: 10px;
	height: 10px;
	transition: 0.2s linear;
}

div.signupFields.visible {
	transition-delay: 0s;
	opacity: 1;
	visibility: visible;
}

div.signupUsernameAvailability,
div.signupAddressAvailability,
div.signupConfirmationCodeValidity {
	width: 186px;
	padding: 0 5px;
	height: 0;
	color: #FFF;
	margin: -2px 0 4px 2px;
	transition: 0.2s ease;
	overflow: hidden;
	background: #E07A66;
	font-size: 0.8em;
	font-weight: bold;
	font-variant: small-caps;
}

div.signupConfirmationCodeTime * {
	font-weight: bold;
	color: #e07a66;
}

div.signupUsernameAvailability.visible,
div.signupAddressAvailability.visible,
div.signupConfirmationCodeValidity.visible {
	height: 25px;
}

div.signupFields button {
	width: 198px;
	margin: 10px 0 0 -0px;
}

form.signupYourPassphrase {
	display: none;
}

	form.signupYourPassphrase li {
		font-size: 1.4em;
		line-height: 2.6em;
	}

	form.signupYourPassphrase input[type=password],
	form.signupYourPassphrase input[type=text] {
		width: 490px;
		font-family: monospace;
		font-size: 0.8em;
	}

div.signupGeneratedPassphraseView {
	margin: 30px 0 30px 0px;
}

span.signupGeneratedPassphrase {
	font-size: 1.7em;
	font-weight: bold;
	color: #2c95d0;
	display: block;
	width: 627px;
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: text;
	transition: 1s all ease-in-out;
}
span.signupGeneratedPassphrase.blurred{
	color: rgba(0, 0, 0, 0);
	text-shadow: 0px 0px 13px #2C95D0;
}

button.signupGeneratedPassphraseRefresh {
	color: #FFF;
	height: 40px;
}

form.signupAccountConfirmation {
	display: none;
}

form.signupFinishingUp {
	display: none;
}

input.signupPeerioPINEntry {
	float: left;
}

div.peerioPINStrength {
	font-size: 0.8em;
	font-weight: bold;
	font-variant: small-caps;
	height: 40px;
	margin: 28px 0 0 250px;
}

	div.peerioPINStrength span.PINNotStrong {
		color: #e07a66;
	}

	div.peerioPINStrength span.PINStrong {
		color: #85C573;
	}

/*
	* Main Screen
*/

.sidebar {
	display: none;
}

	.sidebar ul {
		list-style-type: none;
	}

section {
	display: none;
}

div.mainScreen {
	background: #efeeec;
}

div.dragAndDropUpload {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(100, 160, 200, 0.0);
	z-index: 100;
	display: none;
	visibility: none;
}

	div.dragAndDropUpload.visible {
		display: block;
		visibility: visible;
		background: rgba(0, 60, 100, 0.5);
	}

div.dragAndDropUploadInfo {
	position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 50%;
	height: 50%;
	color: #FFF;
	z-index: 100;
	text-align: center;
}

	div.dragAndDropUploadInfo * {
		color: #FFF;
		line-height: 1.4em;
	}

	div.dragAndDropUploadInfo h1 {
		font-size: 10em;
		margin: 0;
	}

	div.dragAndDropUploadInfo h2 {
		font-size: 2.5em;
	}

	div.dragAndDropUploadInfo h3 {
		font-size: 1.3em;
	}

div.mainTop {
	background: #2c95d0;
	height: 45px;
	padding: 30px 0 0 0;
	position: relative;
	float: right;
}

	div.mainTop form.mainSearch {
		float: right;
		margin: -10px 20px 0 50px;
	}

form.mainSearch input[type=text] {
	display: inline-block;
	margin: 0;
	border: none;
	width: 400px;
	color: #567;
	font-size: 1.1em;
	background: #EFEEEC;
	font-weight: bold;
}

	form.mainSearch input[type=text]:focus {
		border: none;
	}

form.mainSearch input[type=submit] {
	display: inline-block;
	background: rgba(33, 33, 33, 0.7);
	font-family: 'Font Awesome';
	margin: 0 0 0 -4px;
	border-radius: 0 5px 5px 0;
	font-size: 1.1em;
	height: 33px;
	font-weight: normal !important;
}

	form.mainSearch input[type=submit]:hover {
		background: rgba(33, 33, 33, 0.75);
	}

	form.mainSearch input[type=submit]:active {
		background: rgba(33, 33, 33, 0.80);
	}

span.mainTopSearchCount {
	background: #e07a66;
	padding: 4px 7px 2px 5px;
	height: 27px;
	display: inline-block;
	margin: 0px 0 0 -43px;
	position: relative;
	width: 46px;
	border-radius: 0 5px 5px 0;
	bottom: -0px;
	font-size: 1.1em;
}

	span.mainTopSearchCount * {
		color: #FFF;
		font-variant: small-caps;
		font-weight: bold;
	}

	span.mainTopSearchCount span.fontAwesome {
		position: relative;
		left: 20px;
		bottom: 5px;
	}

div.userMenu {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(33, 33, 33, 0.4);
	width: 210px;
	padding: 20px 0px 20px 10px;
	line-height: 40px;
	transition: background 0.4s ease, height 0.4s ease;
	height: 40px;
}

	div.userMenu:hover {
		background: #F7F7F7;
		box-shadow: -3px 3px rgba(50, 50, 50, 0.1);
		z-index: 200;
		height: 255px;
	}

		div.userMenu:hover * {
			color: #333 !important;
		}

	div.userMenu a:hover, div.userMenu a:hover * {
		text-decoration: none !important;
	}
	
	div.userMenuAvatar {
		border: 1px solid #EAEAEA;
		float: left;
		width: 60px;
		height: 60px;
		margin: -10px 10px 0 0;
	}

	div.userMenuAvatar img {
		float: left;
	}

	div.userMenuStatus {
		float: left;
	}

	div.userMenu span.connectionStatus {
		width: 10px;
		height: 10px;
		position: relative;
		top: 2px;
		margin-right: 2px;
		border-radius: 32px;
		background-color: #a5e593;
		border: 3px solid rgba(255, 255, 255, 0.5);
		display: inline-block;
	}

		div.userMenu span.connectionStatus.reconnecting {
			background-color: #e07a66;
			-webkit-animation: redPulse 1s infinite;
			-moz-animation: redPulse 1s infinite;
			-o-animation: redPulse 1s infinite;
			animation: redPulse 1s infinite;
		}

	div.userMenu span.userFirstName {
		font-weight: bold;
		font-size: 1.1em;
		text-align: right;
		color: #FFF;
		margin: 0;
	}

	div.userMenuIcon {
		color: #FFF;
		opacity: 0.65;
		float: right;
		font-size: 1.3em;
		margin: 10px 10px 0 0;
	}

	div.userMenu button {
		display: none;
		text-align: left;
		width: 180px;
	}

	div.userMenu hr {
		display: none;
		border: none;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin: 10px 0;
	}

	div.userMenu:hover button,
	div.userMenu:hover hr {
		display: block;
	}

div.mainTopSectionSelect {
	position: absolute;
	bottom: 0;
	left: 0px;
}

	div.mainTopSectionSelect div.mainTopSectionTab {
		background: #FFF;
		font-weight: bold;
		width: 105px;
		height: 36px;
		padding: 15px 0 0 0;
		display: inline-block;
		text-align: center;
		position: relative;
		font-size: 1.1em;
		margin-right: -4px;
		border-right: 2px solid #efeeec;
	}

		div.mainTopSectionSelect div.mainTopSectionTab.active,
		div.mainTopSectionSelect div.mainTopSectionTab:hover {
			background: #efeeec !important;
		}

		div.mainTopSectionSelect div.mainTopSectionTab.active span,
		div.mainTopSectionSelect div.mainTopSectionTab:hover span {
			color: #2C95CF;
		}



span.mainTopSectionTabNewCount {
	position: absolute;
	top: 0;
	right: 0;
	background: #95d583;
	color: #FFF !important;
	width: 20px;
	height: 21px;
	padding: 0;
	margin: 0;
	font-size: 0.7em;
	text-align: center;
	display: block;
}

span.mainTopSectionTabSearchCount {
	position: absolute;
	top: 0;
	right: 0;
	background: #e07a66;
	color: #FFF !important;
	width: 20px;
	height: 21px;
	padding: 0;
	margin: 0;
	font-size: 0.7em;
	text-align: center;
	display: block;
}

div.mainSidebar {
	width: 200px;
	padding: 10px;
	float: left;
	background: #345;
}
	div.mainSidebar img.peerioLogotypeWhite {
		width: 150px;
		height: auto;
		display: block;
		margin: 18px auto 30px auto;
	}

	div.mainSidebar hr {
		border: none;
		border-top: 1px solid #F7F7F7;
		width: 190px;
		margin: 10px auto;
		display: block;
	}

	div.mainSidebar ul.folderView {
		font-size: 1em;
		line-height: 1em;
		padding: 0 0 10px 0;
		overflow-x: hidden;
		overflow-y: auto;
		list-style-type: none;

	}

		div.mainSidebar ul.folderView .fontAwesome {
			display: inline-block;
			width: 15px;
			margin-right: 3px;
		}
		div.mainSidebar ul.folderView li {
			line-height: normal;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			position: relative;
			transition: all .1s linear;
			transform-origin: left;
			-webkit-transform-origin: left;
		}
		div.mainSidebar ul.folderView li .action-icon {
			display: none;
			cursor: pointer;
			color: #ccc;
			position: absolute;
			right: -6px;
			top: -2px;
			background-color: #345;
			padding: 3px;
		}
		div.mainSidebar ul.folderView li:hover  .action-icon{
			display: block;
		}
		div.mainSidebar ul.folderView li  .action-icon:hover{
			color: white;
		}


			div.mainSidebar ul.folderView:hover {
				background: transparent;
				color: #2C95CF;
			}

.add-folder-btn{
	font-size: 0.9em;
	margin-left: 10px;
	margin-top: 3px;
	color: #2C95CF;
	cursor: pointer;
	text-decoration: underline;
}
.add-folder-btn:hover{
	color: #9DD3F0;
}
#groupFolderSelect{
	font-size: 1em;
	width: 250px;
	margin-top: 15px;
}

div.messagesSidebar {
}

button.messagesSidebarNewMessage,
button.filesSidebarUploadFile,
button.contactsSidebarAddContact {
	padding: 15px 10px;
	font-weight: normal;
	margin: 0 auto 50px auto;
	display: block;
	width: 180px;
}

span.filesSidebarUploadFileSubtitle {
	font-variant: small-caps;
	text-align: center;
	margin: -50px auto 10px auto;
	display: block;
	color: #FFF;
}

div.sidebar h2 {
	margin: 15px 0 0 10px;
	font-weight: normal;
	transform-origin: left;
	-webkit-transform-origin: left;
	transition: transform 0.1s linear;
}

	div.sidebar h2 span {
		color: #fff;
	}

div.sidebar ul {
	margin: 3px 0 0 10px;
	line-height: 2em;
}

	div.sidebar ul li {

		color: #FFF;
		opacity: 0.6;
		margin-top:2px;
	}

button.active {
	color: #FFF;
	background: #2C95CF;
}

	button.active:hover {
		background: #4CB5EF;
	}

div.sidebar ul li:hover,
div.sidebar ul li.active,
div.sidebar ul li:hover *,
div.sidebar ul li.active *,
.messagesSidebar h2.active{
	opacity: 1;
}
.messagesSidebar h2 {
	opacity: 0.6;
}
div.filesSidebar {
}

div.filesSidebarQuotaUsage {
	margin: 0px 0 0 0px;
	font-variant: small-caps;
	padding: 10px;
	font-size: 1em;
	color: #FFF;
}

	div.filesSidebarQuotaUsage h1 {
		font-size: 1.2em;
		font-variant: normal;
		color: #FFF;
	}

div.userMenu:hover span {
		color: #FFF;
	}

form.fileUploadForm {
	display: none;
}

div.contactsSidebar {
}

	div.contactsSidebar button.contactsSidebarImportContacts {
		background: #EFEEEC;
		margin: 20px auto 0 auto;
		display: block;
		width: 180px;
		font-size: 1.1em;
		padding: 10px 0;
	}

	div.contactsSidebar button.contactsSidebarImportContacts:hover {
		background: #F3F2EF;
	}

div.mainSections {
}

section.messagesSection {
	float: left;
	height: 100%;
}

div.messagesSectionListView {
	float: left;
	width: 304px;
	padding: 0 0 0 5px;
}

div.messagesSectionListViewToolbar {
	padding: 10px 10px 0 0;
	border-bottom: 1px solid #EAEAEA;
	width: 293px;
	margin-bottom: 10px;
}

	div.messagesSectionListViewToolbar button {
		font-size: 1.2em;
		margin: 0;
	}

div.messagesSectionListViewItems {
	overflow-x: hidden;
	overflow-y: auto;
	width: 305px;
	padding: 0 10px 0 0;
}

div.messageListItem {
	position: relative;
	height: 56px;
	padding: 4px 0 0 0;
	line-height: 1.2em;
	margin-bottom: 1px;
	width: 298px;
}

	div.messageListItem:hover {
		background: #F0F0F0;
	}

	div.messageListItem.unread {
		background: #FFF;
	}

	div.messageListItem.selected {
		background: #2795D0;
	}

		div.messageListItem.selected * {
			color: #FFF;
		}

		div.messageListItem.selected span.messageListItemFileAttachedIcon {
			color: #FFF !important;
		}

	div.messageListItem div.messageStatusIndicatorUnread,
	div.messageListItem div.messageStatusIndicatorRead {
		float: left;
		width: 4px;
		height: 58px;
		margin: -4px 0 0 0;
	}

	div.messageListItem div.messageStatusIndicatorUnread {
		background: #a5e593;
		border: 1px solid #a5e593;
	}

	div.messageListItem div.messageStatusIndicatorRead {
		/* background: #FFF; */
	}

	div.messageListItem label.blueCheckboxLabel {
		float: left;
		margin: 22px 0 0 5px;
	}

	div.messageListItem div.senderAndSummary {
		float: left;
	}

		div.messageListItem div.senderAndSummary h2 {
			font-size: 0.9em;
			font-weight: normal;
			margin: 10px 0 0 0;
			width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		div.messageListItem div.senderAndSummary h3 {
			margin: 2px 0 0 0;
			font-size: 1em;
			width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: normal;
		}

		div.messageListItem.unread div.senderAndSummary h3 {
			font-weight: bold;
		}

	div.messageListItem div.dateAndTime {
		position: absolute;
		right: 8px;
		top: 17px;
		font-size: 0.8em;
		text-align: right;
		line-height: 13px;
	}

		div.messageListItem div.dateAndTime strong {
			font-family: 'Open Sans';
			font-weight: bold;
		}

		div.messageListItem div.dateAndTime span {
		}

div.messagesSectionMessageView {
	background: #FFF;
	margin: 10px 0 0 12px;
	float: right;
	position: relative;
	padding: 20px 20px 20px 20px;
}

div.messagesSectionMessageViewIntro {
	width: 93%;
	min-width: 390px;
	max-width: 690px;
	height: 490px;
	overflow-y: auto;
	padding: 5% 3%;
	line-height: 2em;
	font-size: 0.9em;
	opacity: 0.8;
}

	div.messagesSectionMessageViewIntro img {
		width: 86px;
		height: auto;
		float: left;
		padding: 0 20px 0 0;
	}

	div.messagesSectionMessageViewIntro h1 {
		font-size: 3em !important;
		line-height: 1em;
	}

	div.messagesSectionMessageViewIntro p {
		margin-top: 20px;
		text-align: justify;
	}

	div.messagesSectionMessageViewIntro ol {
		display: block;
		list-style-type: decimal;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
		text-align: justify;
	}

	div.messagesSectionMessageViewIntro li {
	}

div.messagesSectionMessageViewTopIcons {
	position: absolute;
	top: 2px;
	right: 4px;
}

	div.messagesSectionMessageViewTopIcons * {
		font-size: 1.4em !important;
	}

img.messagesSectionListViewLoading {
	width: 50px;
	height: auto;
	margin: 150px auto 0 auto;
	display: block;
}

div.messagesSectionMessageViewLoading {
	margin: 0 auto;
	display: block;
	background-image: url('../img/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px auto;
}

div.messagesSectionMessageView h1 {
	font-size: 1em;
	margin: 0 !important;
}

div.messagesSectionMessageView h2 {
	font-size: 0.85em;
	margin: 0;
	font-weight: normal;
	padding: 0 0 0 4px;
	overflow-x: auto !important;
	white-space: nowrap;
	width: 100%;
}

div.messagesSectionMessageView h3 {
	font-size: 1.4em;
	width: 100%;
	word-wrap: break-word;
	margin-top: 7px;
	height: 25px;
	overflow: hidden;
}

span.messagesSectionMessageViewPreviousParticipants {
	float: right;
	padding: 0 10px;
}

	span.messagesSectionMessageViewPreviousParticipants * {
		color: rgb(224, 122, 102);
	}

div.messagesSectionMessageViewSingleInfoFiles {
	font-size: 1.3em;
}

	div.messagesSectionMessageViewSingleInfoFiles span.fileListingIcon {
		font-size: 1.2em !important;
		vertical-align: 1px;
	}

span.fileListingIcon:before {
	content: '\f023';
	font-size: 0.6em;
	position: absolute;
	right: -2px;
	top: -4px;
	color: #000;
	font-family: 'Font Awesome';
}

div.messagesSectionMessageViewSingleInfoFiles span.fileListingName {
	font-size: 0.9em !important;
	margin: 0 0 0 2px !important;
}

span.messagesSectionMessageViewSingleInfoSenderName {
	margin-right: 10px;
}

div.messagesSectionMessageViewBar {
	border-top: 1px solid #EAEAEA;
	margin: 15px 0 0 0;
}

	div.messagesSectionMessageViewBar button {
		margin: 0;
		padding: 5px;
	}

div.messagesSectionMessageViewSingles {
	overflow-y: auto;
	padding: 0 10px 0 0;
	width: 99%;
}

div.messagesSectionMessageViewSingle {
	margin: 20px 0px 0px 0;
}

	div.messagesSectionMessageViewSingle[data-messageid^=msending] {
		opacity: 0.4 !important;
	}

div.messagesSectionMessageViewExpandConversation {
	background: #2795D0;
	color: #FFF;
	font-weight: bold;
	margin: 10px auto;
	width: 70%;
	padding: 10px;
	text-align: center;
	border: 5px solid rgba(255, 255, 255, 0.9);
}

	div.messagesSectionMessageViewExpandConversation:hover {
		background: #37A5E0;
	}

	div.messagesSectionMessageViewExpandConversation:active {
		background: #47B5F0;
	}

	div.messagesSectionMessageViewExpandConversation span {
		color: #FFF;
	}

div.messagesSectionMessageViewReadReceipts {
	font-style: italic;
	font-size: 0.8em;
	background: rgba(39, 149, 208, 0.01);
	padding: 0 10px;
}

div.messagesSectionMessageViewAcknowledgement {
	font-size: 0.8em;
	border: 1px solid #EAEAEA;
	width: 85%;
	margin: 6px auto;
	padding: 0 10px;
	height: 24px;
}

	div.messagesSectionMessageViewAcknowledgement span.fontAwesome {
		border-radius: 30px;
		margin: -2px 10px 0 -20px;
		float: left;
		background: #FFF;
		font-size: 1.7em;
		width: 25px;
		height: 23px;
		border: 2px solid #EAEAEA;
		display: inline-block;
		text-align: center;
		padding: 3px 0 0 0 !important;
		color: #343 !important;
	}

	div.messagesSectionMessageViewAcknowledgement span {
	}

div.messagesSectionMessageViewSingle.sentByMe {
	z-index: 0;
}

div.messagesSectionMessageViewSingle.failed {
	border: 1px solid #e07a66 !important;
	z-index: 0;
	opacity: 0.8;
}

	div.messagesSectionMessageViewSingle.failed div.messagesSectionMessageViewSingleInfo {
		background: #e07a66 !important;
		z-index: 0;
		color: #FFF !important;
	}

		div.messagesSectionMessageViewSingle.failed div.messagesSectionMessageViewSingleInfo * {
			color: #FFF !important;
		}

	div.messagesSectionMessageViewSingle.failed pre {
		font-style: italic;
	}

div.messagesSectionMessageViewSingleInfo {
	background: #F7F7FA;
	font-size: 0.8em;
	line-height: 1.6em;
	position: relative;
	padding: 5px 5px 5px 5px;
	z-index: 0;
}

span.messagesSectionMessageViewSingleInfoEncrypted {
	font-size: 1.3em;
	background: rgba(205, 235, 255, 0.2);
	padding: 0 6px;
	height: 18px;
	display: block;
	position: absolute;
	top: 0;
	right: 0px;
}

	span.messagesSectionMessageViewSingleInfoEncrypted span.fontAwesome {
		font-size: 0.7em;
	}

	span.messagesSectionMessageViewSingleInfoEncrypted span {
		font-variant: small-caps;
	}

div.messagesSectionMessageViewSingle.sentByMe div.messagesSectionMessageViewSingleInfo {
	background: #2795D0;
}

	div.messagesSectionMessageViewSingle.sentByMe div.messagesSectionMessageViewSingleInfo * {
		color: #FFF;
	}

div.messagesSectionMessageViewSingle pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	display: block;
	padding: 10px;
	font-family: sans-serif;
	font-size: 1em;
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: text;
	z-index: 50;
}

div.messagesSectionMessageViewSingle img {
	border: 2px solid #444;
	margin: 5px 10px;
}

div.messagesSectionMessageViewSingle pre a {
	text-decoration: underline;
	cursor: pointer;
	-webkit-user-select: text !important;
	user-select: text !important;
}

div.messagesSectionMessageViewTabs {
	height: 210px;
	margin-top: 5px;
	width: 100%;
}

span.messagesSectionMessageViewReplyTab,
span.messagesSectionMessageViewFilesTab {
	background: #FFF;
	padding: 3px 10px;
	font-weight: bold;
	font-size: 1em;
}

	span.messagesSectionMessageViewReplyTab:hover,
	span.messagesSectionMessageViewFilesTab:hover {
		background: #EAEAEA;
	}

	span.messagesSectionMessageViewReplyTab.active,
	span.messagesSectionMessageViewFilesTab.active {
		background: #EAEAEA !important;
	}

div.messagesSectionMessageViewReply {
	position: relative;
	border: 1px solid #EAEAEA;
	padding: 10px 10px 0 10px;
	width: 96%;
}

div.messagesSectionMessageViewReplyToolbar {
	background: #F7F7F7;
	margin: -10px -10px 0 -10px;
	padding: 0px 5px;
	font-size: 0.9em;
}

div.messagesSectionMessageViewReply textarea {
	width: 100%;
	height: 115px;
	padding: 0px;
	display: block;
	resize: none;
	border: none;
	margin: 5px 0 0 0;
	font-family: sans-serif;
	line-height: 1.7em;
	font-size: 1em;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-webkit-user-select: text !important;
	user-select: text !important;
	cursor: text;
}

div.messagesSectionMessageViewOnlyParticipant {
	width: 100%;
	height: 120px;
	display: block;
	font-weight: bold;
	color: #555;
	font-size: 1.3em;
	padding-top: 40px;
	height: 80px;
}

button.messagesSectionMessageViewReplySend {
}

button.messagesSectionMessageViewAcknowledge {
	font-size: 1.0em;
	height: 23px;
}

div.messagesSectionMessageViewReplyBottomBar {
	font-size: 0.8em;
	margin: 0 0 0px -10px;
}

div.messagesSectionMessageViewReplyBottomBarSendOnEnter {
	display: inline;
	border-left: 1px solid #EAEAEA;
	margin-left: 10px;
	padding: 0 0 4px 10px;
}

div.messagesSectionMessageViewFiles {
	height: 70%;
	overflow-y: auto;
	display: none;
}

div.messagesSectionMessageViewFilesPlaceholder {
	margin: 40px 0 0 20px;
	width: 60%;
}

	div.messagesSectionMessageViewFilesPlaceholder h1 {
	}

	div.messagesSectionMessageViewFilesPlaceholder h2 {
	}

div.fileListing {
	margin-top: 8px;
}


	div.fileListing:hover * {
		color: #2C95CF;
	}

	div.fileListing span.fileListingIcon {
		color: #2C95CF;
		font-size: 1.6em;
		position: relative;
		top: 2px;
	}

	div.fileListing span.fileListingUploading,
	div.fileListing span.fileListingDownloading {
		width: 28px;
		height: 28px;
		display: inline-block;
		margin: 0px 0 0 -5px;
		background-image: url('../img/loading.gif');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		font-size: 0.8em;
		text-align: center;
		font-weight: bold;
		font-variant: small-caps;
		color: #2795D0;
		float: left;
	}

	div.fileListing span.fileListingName {
		font-weight: bold;
		margin-left: 5px;
	}

div.fileListingActions {
	background: rgba(247, 247, 247, 0.95);
	position: absolute;
	transition: width 0.15s linear, height 0.15s linear;
	height: 0;
	overflow: hidden;
}

	div.fileListingActions.expand {
		height: 30px;
		box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	div.fileListingActions button {
		color: #333;
		font-weight: normal;
		font-size: 1.2em;
	}

section.filesSection {
	float: left;
	height: 50%;
	background: #FFF;
	width: 500px;
	margin-top: 10px;
	padding: 20px;
}

div.filesSectionToolbar {
	border-bottom: 1px solid #EAEAEA;
	padding-bottom: 0px;
}

div.filesSectionToolbarActions {
	display: inline;
	font-size: 1.2em;
	position: relative;
	bottom: 5px;
}

div.filesSectionToolbarSort {
	display: inline;
	float: right;
	font-size: 0.9em;
}

table.filesSectionTableHeader {
	width: 110%;
	font-weight: bold;
	margin-top: 10px;
}

	table.filesSectionTableHeader th {
		padding: 2px 5px 10px 5px;
		text-align: left;
		margin: 0;
	}

div.filesSectionTableWrapper {
	overflow-y: auto;
	max-height: 86%;
}

table.filesSectionTable {
	width: 100%;
	font-size: 0.9em;
}

	table.filesSectionTable th,
	table.filesSectionTable td {
		padding: 2px 5px 10px 5px;
		text-align: left;
		margin: 0;
	}

td.filesSectionTableCheckboxCell {
	width: 5px !important;
	position: relative;
}

	td.filesSectionTableCheckboxCell * {
		position: relative;
		left: 8px;
		bottom: 2px;
	}

tr.filesSectionTableEntry {
	background: #F7F7F7;
	margin: 1px 0 0 0;
	border-bottom: 1px solid #FFF;
	height: 50px;
}

	tr.filesSectionTableEntry:hover {
		background: #F0F0F0;
	}


	tr.filesSectionTableEntry div.fileStatusIndicator {
		position: absolute;
		left: 0;
		top: 0;
		width: 5px;
		height: 50px;
		background: #a5e593;
	}

section.contactsSection {
	float: left;
	height: 100%;
}

div.contactsSectionListView {
	width: 304px;
	height: 500px;
	float: left;
	padding: 0 0 0 5px;
}

div.contactsSectionListViewToolbar {
	padding: 10px 10px 0 2px;
	width: 293px;
	margin-bottom: 10px;
	font-size: 0.9em;
}

div.contactsSectionListViewItems {
	overflow-x: hidden;
	overflow-y: auto;
	height: 89%;
	width: 305px;
	padding: 0 10px 0 0;
}

div.contactListItem {


	padding: 17px 20px 19px 20px;
	width: 258px;
	height: 20px;
	font-weight: bold;
}

	div.contactListItem:hover {
		background: #F0F0F0;
	}

	div.contactListItem.selected {
		background: #2795D0;
	}

		div.contactListItem.selected * {
			color: #FFF;
		}

span.contactListItemName {
}

span.contactListItemStatus {
	float: right;
	font-size: 0.8em;
	opacity: 0.7;
}

div.contactsSectionContactView {
	background: #FFF;
	margin: 10px 0 0 12px;
	float: left;
	position: relative;
	padding: 20px;
}

div.noContacts {
	margin-top: 20%;
}

	div.noContacts h1 {
		text-align: center;
		color: #666;
	}

	div.noContacts p {
		text-align: center;
		color: #666;
	}

	div.noContacts button {
		margin: 20px auto;
		display: block;
	}

	div.noContacts a {
		text-decoration: underline;
	}

div.contactsViewIsRequest {
}

	div.contactsViewIsRequest button {
		margin: 10px 10px 0 0;
	}

div.contactsSectionContactView hr {
	border: none;
	border-top: 1px solid #EAEAEA;
	margin: 30px 0;
}

button.contactsSectionContactViewDelete {
	font-size: 1.4em;
	position: absolute;
	top: 0;
	right: 0;
}

div.contactsViewHeading {
}

div.contactsViewAvatar {
	border: 1px solid #EAEAEA;
	float: left;
	width: 92px;
	height: 92px;
	margin: -10px 20px 0 0;
}

	div.contactsViewAvatar img {
		float: left;
	}

div.contactsViewHeading h1 {
	font-size: 1.2em;
	margin: 0;
}

div.contactsViewHeading h2 {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}

	div.contactsViewHeading h2.contactsViewMiniLockID {
		font-family: monospace;
		font-size: 0.9em;
		opacity: 0.7;
	}

	div.contactsViewHeading h2.contactsViewMiniLockID * {
		-webkit-user-select: text !important;
		user-select: text !important;
		cursor: text;
	}

	div.contactsViewHeading h2.contactsViewSubheading {
		font-weight: bold;
		display: inline-block;
		font-size: 0.8em;
	}

		div.contactsViewHeading h2.contactsViewSubheading span {
			background: #EAEAEA;
			padding: 0.4em 0.8em;
		}

div.contactsViewToolbar {
	border-bottom: 1px solid #EAEAEA;
	color: #2795D0;
	margin: -30px 0 20px 0;
}

button.contactsViewNotificationOptions {
	float: right;
}

div.contactsViewLatestMessages {
	margin-top: 10px;
}

div.contactsViewLatestMessagesHeading {
}

	div.contactsViewLatestMessagesHeading > span {
		font-weight: bold;
		font-size: 1.1em;
	}

	div.contactsViewLatestMessagesHeading button {
		float: right;
		font-size: 0.8em;
		position: relative;
		bottom: 2px;
		padding-right: 0;
	}

		div.contactsViewLatestMessagesHeading button span.fontAwesome {
			font-size: 1.5em;
			font-weight: bold;
			vertical-align: -2px;
		}

div.contactsViewLatestMessagesItems {
	margin-top: 5px;
	overflow-y: hidden;
	height: 100px;
}

div.contactsViewMessageItem {
	position: relative;
	font-size: 0.85em;
	margin-bottom: 5px;
}

	div.contactsViewMessageItem div.fileListing {
		display: inline;
	}

		div.contactsViewMessageItem div.fileListing * {
			font-weight: normal;
		}

span.contactsViewMessageItemDate {
	position: absolute;
	right: 0;
	font-weight: bold;
}

div.contactsViewLatestFiles {
	margin-top: 10px;
}

div.contactsViewLatestFilesHeading {
}

	div.contactsViewLatestFilesHeading > span {
		font-weight: bold;
		font-size: 1.1em;
	}

	div.contactsViewLatestFilesHeading button {
		float: right;
		font-size: 0.8em;
		position: relative;
		bottom: 2px;
		padding-right: 0;
	}

		div.contactsViewLatestFilesHeading button span.fontAwesome {
			font-size: 1.5em;
			font-weight: bold;
			vertical-align: -2px;
		}

div.contactsViewLatestFilesItems {
	margin-top: 5px;
	overflow-y: hidden;
	height: 140px;
}

/*
	* Front Modals
*/

div.frontModalsWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 4, 8, 0.6);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease-in 0.15s, opacity 0.15s ease-in;
	z-index: 200;
}

	div.frontModalsWrapper.visible {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}

div.frontModals {
	width: 85%;
	height: 85%;
	max-width: 800px;
	max-height: 600px;
	margin: 3.5% auto 0 auto;
	background: #FFF;
	border: 5px solid #EAEAEA;
	position: relative;
}

	div.frontModals input {
		margin: 0 0 5px 0;
	}

	div.frontModals.small {
		width: 600px;
		height: 410px;
		margin-top: 8%;
	}

	div.frontModals.tiny {
		width: 540px;
		height: 300px;
		margin-top: 10%;
	}

button.frontModalsClose {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
}

div.frontModal {
	padding: 30px;
	display: none;
}

	div.frontModal.visible {
		display: block;
	}

	div.frontModal h1 {
	}

div.newMessage {
	width: 80%;
	margin: 5px auto 0 auto;
}

div.newMessageInfo {
}

div.newMessageToWrapper {
	border: 3px solid #efeeec;
	width: 100%;
	height: 32px;
	padding-right: 22px;
	position: relative;
	margin-top: 10px;
}

	div.newMessageToWrapper > span {
		position: absolute;
		color: #999;
		left: 8px;
		top: 3px;
	}

div.newMessageRecipients {
	display: inline;
	margin: 0 0 0 30px;
}

span.newMessageRecipient {
	background: #2C95CF;
	padding: 0 5px 0 5px;
	position: relative;
	top: 1px;
	border-radius: 2px;
	margin-right: 5px;
}

	span.newMessageRecipient * {
		color: #FFF;
		font-size: 0.8em;
		text-align: center;
		vertical-align: 1px;
	}

input.newMessageTo {
	border: none;
	margin: 0 0 0 5px !important;
	display: inline;
}

	input.newMessageTo:focus {
		border: none !important;
	}

div.newMessageToAutocomplete {
	border: 3px solid #efeeec;
	width: 300px;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	border-top: none;
	margin-top: -3px;
	z-index: 5;
}

div.newMessageAutocompleteSuggestion {
	font-size: 0.8em;
	height: 24px;
	background: #F7F7F7;
	border: 1px solid white;
	padding: 5px 10px;
}

	div.newMessageAutocompleteSuggestion:hover {
		background: #2795D0;
	}

		div.newMessageAutocompleteSuggestion:hover * {
			color: #FFF;
		}

	div.newMessageAutocompleteSuggestion h1 {
		margin: 0;
		font-size: 1.2em;
	}

input.newMessageSubject {
	width: 100%;
	position: relative;
	top: 10px;
	z-index: 0;
}

div.newMessageToolbar {
	background: #F7F7F7;
	padding: 10px;
	margin: 20px 0;
	width: 100%;
	border-right: 6px solid #F7F7F7;
}

textarea.newMessageBody {
	width: 100%;
	height: 225px;
	resize: none;
	border: 3px solid #EAEAEA;
	padding: 10px;
	display: block;
	margin-bottom: 5px;
	max-height: 300px;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.7em;
}

input.newMessageSend {
	font-size: 1.3em;
}

button.newMessageSaveDraft {
	padding: 11px 10px;
	margin-left: 15px;
}

div.attachFile {
}

div.frontModals input.attachFileSearch {
	width: 710px;
	font-size: 1.1em;
}

div.frontModals.small input.attachFileSearch {
	width: 510px;
	font-size: 1.1em;
}

table.attachFileTableHeader {
	width: 112%;
	font-weight: bold;
	margin-top: 16px;
}

	table.attachFileTableHeader th {
		padding: 2px 5px 10px 5px;
		text-align: left;
		margin: 0;
	}

div.frontModals div.attachFileTableWrapper {
	overflow-y: auto;
	max-height: 350px;
	min-height: 310px;
}

div.frontModals.small div.attachFileTableWrapper {
	overflow-y: auto;
	max-height: 180px;
}

table.attachFileTable {
	width: 100%;
	font-size: 0.9em;
}

	table.attachFileTable th,
	table.attachFileTable td {
		padding: 2px 5px 10px 5px;
		text-align: left;
		margin: 0;
	}

td.attachFileTableCheckboxCell {
	width: 5px !important;
	position: relative;
}

	td.attachFileTableCheckboxCell * {
		position: relative;
		left: 8px;
		bottom: 2px;
	}

tr.attachFileTableEntry {
	background: #F7F7F7;
	margin: 1px 0 0 0;
	border-bottom: 1px solid #FFF;
	height: 50px;
}

	tr.attachFileTableEntry div.attachFileIndicator {
		position: absolute;
		left: 0;
		top: 0;
		width: 5px;
		height: 50px;
		background: #a5e593;
	}

div.attachFileButtons {
	margin-top: 10px;
	padding: 6px 7px;
}

button.attachFileSelected {
}

button.attachFileUploadNew {
	float: right;
}

div.addContact {
}

	div.addContact input,
	div.addContact button {
		font-size: 1.0em;
	}

div.twoFactorAuth {
}

a.twoFactorAuthLearnMore {
	font-variant: small-caps;
	margin-top: 10px;
	display: block;
}

div.twoFactorAuthQRCode {
	width: 160px;
	height: 160px;
	float: left;
	margin: 0 30px 0 0;
}

	div.twoFactorAuthQRCode img {
		width: 160px;
		height: 160px;
	}

form.twoFactorAuthForm {
	float: left;
}

	form.twoFactorAuthForm p {
		width: 340px;
		font-size: 0.8em;
		font-family: monospace;
		margin-bottom: 20px;
	}

div.accountSettings {
}

	div.accountSettings h3 {
		font-variant: small-caps;
		position: relative;
		top: 7px;
		left: 1px;
		margin-top: -15px;
		font-size: 1.0em;
		color: #777;
	}

div.accountSettingsName {
	float: left;
}

div.accountSettingsAddresses {
	float: right;
	width: 400px;
	height: 200px;
}

div.accountSettingsAddress {
}

	div.accountSettingsAddress input {
		display: inline;
	}


	div.accountSettingsAddress button {
		display: inline;
	}

	div.accountSettingsAddress.newAddress input {
	}

	div.accountSettingsAddress input.accountSettingsAddressConfirmationCode {
		width: 65px;
		font-size: 1em;
		border: 3px solid #EEE;
	}

div.accountSettings div.deleteAccount {
	width: 350px;
	padding: 0 40px 0 0;
	border-right: 1px solid #EAEAEA;
	position: absolute;
	bottom: 85px;
	left: 30px;
}

div.accountSettings div.twoFactorAuthSettings {
	margin-left: 40px;
	float: right;
	width: 300px;
	position: absolute;
	right: 30px;
	bottom: 135px;
}

	div.accountSettings div.twoFactorAuthSettings button {
		position: relative;
		top: 15px;
	}

div.preferences {
}

	div.preferences hr {
		border: none;
		border-top: 1px solid #EAEAEA;
		width: 400px;
		margin: 8px 0;
	}

div.importContacts {
}

div.importContactsInstructions {
	padding: 20px;
	background: #FAFAFA;
	margin-top: 20px;
	line-height: 2.4em;
}

div.importContacts ol {
	list-style-type: decimal;
	display: block;
	margin-left: 25px;
}

button.importContactsUploadCSV {
	margin-top: 20px;
	font-size: 1.5em;
}

div.importContacts h2 {
	margin: 20px 0 5px 0;
	font-size: 1.4em;
}

div.importContactsSelectContactsWrapper {
	height: 380px;
	overflow: auto;
	margin-bottom: 20px;
}

table.importContactsSelectContacts {
	margin: 5px 0px;
	width: 710px;
}

	table.importContactsSelectContacts td {
		background: #FAFAFA;
		border-bottom: 1px solid #FFF;
		padding: 5px 0;
	}

td.importContactsSelectContactsCheckboxCell {
	padding: 10px 0 10px 10px !important;
}

.sweet-alert{
	border-radius: 2px;
}
.sweet-alert button{
	border-radius: 0;
}

.sweet-alert button.cancel {
	background-color: #9B9898;
}

ul.filesSidebarTypeFilters li,ul.messagesSidebarTypeFilters li {
	margin:0;
	line-height: 22px;
	transform-origin: left;
	-webkit-transform-origin: left;
	transition: transform .1s linear;
}
.login-locale-title{
	margin-top: 50px;
	color: #FFF;
	margin-left: 50px;
	font-weight: normal;
}
.login-locale-select{
	margin: auto;
	width: 256px;
	display: block;
	font-size: 1.2em;
	-webkit-appearance: none;
	padding: 8px;
	color: #FFF;
	background-color: #56A9D7;
	border-radius: 0;
	outline: none;
	border: none;
	text-align: center;
	font-weight: bold;
}
.passphrase-option{
	display: inline-block;
	padding: 10px;
	margin: 10px;
}
.folder-counter{
	margin-left: 2px;
	font-size: 80%;
	background-color: #85C573;
	color: #FFF;
	font-weight: bold;
	padding: 0px 4px;
	border-radius: 2px;
}
.filter-name{
	color: #fff;
}